<!DOCTYPE html>
<html>
    <head>  
        <teatle>cofradía</teatle>
    </head>
    <body>
        <h1> Gestion crofadia </h1>
        <p> esta pagina en este momento es una app para repasar lo que es la ingeneria de software.</p>
        <p>Que quiere hacer.</p>
        <ul>
            <li ><a href="{{url_for('nuevo_miembro')}}">agregar nuevos miembros</a></li>
            <li><a href="templates/listar_miembros.html">listar miembros existentes</a></li>
            <li><a href="templates/lista_juegos.html">lista de juegos</a></li>
            <li><a href="templates/prestamo_juegos.html">prestamo de juegos</a></li>
            <li><a href="templates/anadir_juegos.html">añadir juegos</a></li>
            <li><a href="templates/reportar_problema.html">reportar problema o queja</a></li>
        </ul>


    </body>




</html>