<!DOCTYPE html>
<html>
    <head><p>algo</p></head>
<header>
    <title>Nuevos Miembros</title>
</header>
    <body>
        <h1>Bienvenidos a los Nuevos Miembros</h1>
        <p>Estamos emocionados de tenerte aquí.</p>
        <from action="/nuevos_miembros" method="post">
            <leable for="nombre">Nombre</leable>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="apellido1">Apellido Paterno</label>
            <input type="text" id="apellido1" name="apellido1"><br>

            <label for="apellido2">Apellido Materno </label>
            <input type="text" id="apellido2" name="apellido2"><br>

            <label for="Rut"> Rut sin digito verificador</label>
            <input type="text" id="Rut" name="Rut"><br>

            <label for="digito_verificador ">digito verificador</label>
            <input type="text" id="digito_verificador" name="digito_verificador"><br>

            <label for="Fecha_nacimiento">Fecha de nacimiento</label>
            <input type="date" id="Fecha_nacimiento" name="Fecha_nacimiento"><br>

            <label for="Numero_de_telefono">Numero de telefono</label>
            <input type="text" id="Numero_de_telefono" name="Numero_de_telefono"><br>
            
            <label for="Correo_electronico">Correo electronico</label>
            <input type="email" id="Correo_electronico" name="Correo_electronico"><br>

            <label for="edad"> Cual es tu edad</label>
            <input type="number" id="edad" name="edad"><br>

            <label for="direccion">Cual es tu direccion</label>
            <input type="text" name="direccion" id="direccion"><br>
            
        <button type="submit">Enviar</button>

        </form>


    </body>
</html>



